@model ProjeCore.Models.Birim
@{
    ViewData["Title"] = "BirimGetir";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

@using (Html.BeginForm("BirimGüncelle", "default", FormMethod.Post))
{
    <b>Birim ID</b>
    @*@Html.LabelFor(x => x.departmanAd)*@
    @Html.TextBoxFor(x => x.BirimID, new { @class = "form-control" })
    <br />
    <b>Birim Adı</b>
    @*@Html.LabelFor(x => x.departmanAd)*@
    @Html.TextBoxFor(x => x.BirimAd, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Birim Güncelle</button>
}



